@tailwind base;

@tailwind components;

@tailwind utilities;

#root {
  background-image: url("/images/Illustration2.png");
  background-position: right bottom;
  background-repeat: no-repeat;
}

.each-slide > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 100px;
}

.each-slide span {
  padding: 20px;
  font-size: 20px;
  background: #efefef;
  text-align: center;
}
